<%= simple_form_for(@person) do |p| %>
  <%= p.error_notification %>

  <div class="form-inputs">
  	name nick : <%= p.text_field :name_nick %><br/>
	name family : <%= p.text_field :name_family %><br/>
	  
	addresses : <%= p.text_field :addresses %><br/>
	<input type="button" class="addRow" value="Add Row"/>
	<input type="button" class="delRow" value="Delete Row"/>
	
	affiliations : <%= p.text_field :affiliations %><br/>
	identifiers : <%= p.text_field :identifiers %><br/>
	<input type="button" class="addRow" value="Add Row"/>
	<input type="button" class="delRow" value="Delete Row"/>
	
	date_birth : <%= p.text_field :date_birth %><br/>
	date_death : <%= p.text_field :date_death %><br/>
	
	emails : <%= p.text_field :emails %><br/>
	<input type="button" class="addRow" value="Add Row"/>
	<input type="button" class="delRow" value="Delete Row"/>
	
	gender : <%= p.text_field :gender %><br/>
	
	name_family : <%= p.text_field :name_family %><br/>
	name_nick : <%= p.text_field :name_nick %><br/>
	name_given : <%= p.text_field :name_given %><br/>
	name_prefix : <%= p.text_field :name_prefix %><br/>
	
	name_suffix : <%= p.text_field :name_suffix %><br/>
	<input type="button" class="addRow" value="Add Row"/>
	<input type="button" class="delRow" value="Delete Row"/>
	
	nationality : <%= p.text_field :nationality %><br/>
	
	notes : <%= p.text_field :notes %><br/>
	<input type="button" class="addRow" value="Add Row"/>
	<input type="button" class="delRow" value="Delete Row"/>
	
	study_role : <%= p.text_field :study_role %><br/>
	study_role_description : <%= p.text_field :study_role_description %><br/>
	  
	    
	rec_class : <%= p.text_field :rec_class %><br/>
	rec_id : <%= p.text_field :rec_id %><br/>
	
  	
  </div>

  <div class="form-actions">
    <%= p.button :submit %>
  </div>
<% end %>

<table border="1">
<tr><td colspan="4">Enter Your Information</td></tr>
<tr><td>Email</td><td><input type="text" size="24"/></td>
<td><input type="button" class="addRow" value="Add Row"/></td>
<td><input type="button" class="delRow" value="Delete Row"/></td></tr>
<tr><td>Email</td><td><input type="text" size="24"/></td>
<td><input type="button" class="addRow" value="Add Row"/></td>
<td><input type="button" class="delRow" value="Delete Row"/></td></tr>
</table>

<script type="text/javascript">
(function($){
	$(document).ready(function(){
		$(".addRow").btnAddRow();
		$(".delRow").btnDelRow();
});
})(jQuery);
</script>



<script type="text/javascript">
(function($){
	$(document).ready(function(){
		$(".addRow").btnAddRow();
		$(".delRow").btnAddRow();
		
		
});
})(jQuery);
</script>
