

  <div class="form-inputs">
  
  	name nick : <%= f.text_field :name_nick %><br/>
	name family : <%= f.text_field :name_family %><br/>
	  
	address : <%= f.text_field :address %><br/>
	affiliation : <%= f.text_field :affiliation %><br/>
	
	identifier : <%= f.text_field :identifier %><br/>
	
	date_birth : <%= f.text_field :date_birth %><br/>
	date_death : <%= f.text_field :date_death %><br/>
	email : <%= f.text_field :email %><br/>
	gender : <%= f.text_field :gender %><br/>
	
	name_family : <%= f.text_field :name_family %><br/>
	name_nick : <%= f.text_field :name_nick %><br/>
	name_given : <%= f.text_field :name_given %><br/>
	name_prefix : <%= f.text_field :name_prefix %><br/>
	name_suffix : <%= f.text_field :name_suffix %><br/>
	
	nationality : <%= f.text_field :nationality %><br/>
	note : <%= f.text_field :note %><br/>
	
	study_role : <%= f.text_field :study_role %><br/>
	study_role_description : <%= f.text_field :study_role_description %><br/>
	  
	    
	rec_class : <%= f.text_field :rec_class %><br/>
	rec_id : <%= f.text_field :rec_id %><br/>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
