<style>
	#wizard .input-error{
		background:#FB3500;
		opacity:1
	}
</style>



<%= simple_form_for(@study, html: {class: 'form-vertical' }) do |f| %>
  <% if @study.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@study.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @study.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= yield f %>
  
  
  <fieldset>
	<legend>Général</legend>

  	<%== display_form(@studyMetaXML, f=f, xpath_str="/metadatas/general/*")%>

	<button type="submit" id="button_submit" class="add btn btn-primary" >Next <i class="icon-white icon-arrow-right"></i></button>
  </fieldset>

<% end %>


	
	<div class="choose"></div>
	
	<div id="dialog-confirm" title="Delete ?" style="display:none">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
	</div>
	
	
	

	
	
	
	
	
	