<style>
	#wizard .input-error{
		background:#FB3500;
		opacity:1
	}
</style>


<%= form_for @study do |f| %>
  <% if @study.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@study.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @study.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= yield f %>
  
  <div class="actions">
  	
  	 <p>Veuillez entrer l'intitulé de l'enquête : </p>
     <%= f.label  :title , "title :  " %><%= f.text_field :title %><br/>
     
     <h2>Depositors</h2>
     
     <%= f.fields_for :persons, :wrapper => 'inline' do |p|%>
     
     <%= render 'person_fields', :f => p %>
     
     <%end%>
     
     
     <%= link_to_add_association 'add person', f, :persons %>
	 
  	
  	
  	
    <%= f.submit "next" %>
    
  </div>
<% end %>
	
	



