<h1>Etape 2</h1>

<%= simple_form_for(@study, url: wizard_path, :html => { :class => 'form-vertical' }) do |f| %>
  
  <%= f.label  :data_collection_date_end , "data_collection_date_end :  " %>
  <%= f.text_field :data_collection_date_end %><br/>
  
  
  <%=f.input :documents_types, :collection => {
   "collection"=>"collection", 
   "dataset"=>"dataset", 
   "still image"=>"still image", 
   "interactive resource"=>"interactive resource", 
   "moving image"=>"moving image", 
   "physical object"=>"physical object", 
   "software"=>"software", 
   "sound"=>"sound", 
   "text"=>"text"
   }, :as => :check_boxes%>
  
  
  

  <%= f.label :analysis_transcription, 'analysis_transcription' %>
  
  <%=  f.collection_radio_buttons :analysis_transcription, [[true, 'Yes'] ,[false, 'No'], [false, 'Don\'t know']], :first, :last %>
  

  
  <%= f.label  :coverage_spatial_geographics , "coverage_spatial_geographics :  " %>
  <%= f.text_field :coverage_spatial_geographics %><br/>
  
  <%= f.label  :coverage_spatial_units , "coverage_spatial_units :  " %>
  <%= f.text_field :coverage_spatial_units %><br/>
  
  <%= f.label  :coverage_spatial_countries , "coverage_spatial_country :  " %>
  <%= f.text_field :coverage_spatial_countries %><br/>
  
  <%= f.label  :coverage_temporal_begin , "coverage_temporal_begin :  " %>
  <%= f.text_field :coverage_temporal_begin %><br/>
  
  
  
  
  <div>
  	  <%= f.label  :softwares , "softwares :  " %>
	  <%= f.text_field :softwares, :required=>"false"%>
	  <button data-action="add" class="add btn btn-small" ><i class="icon-plus"></i></button>
	  
  </div>
  
  
  <%= f.label  :edition_first_date , "edition_first_date :  " %><%= f.text_field :edition_first_date %><br/>
  <%= f.label  :edition_last_date , "edition_last_date :  " %><%= f.text_field :edition_last_date %><br/>
  
  <%= f.label  :projects , "projects :  " %><%= f.text_field :projects %><br/>

  <%= f.label  :rec_id , "rec_id :  " %><%= f.text_field :rec_id %><br/>
  
  <%= f.submit "finish" %>
<%end%>
