<%= simple_form_for(@study, url: wizard_path, :html => { :class => 'form-vertical' }) do |f| %>
	
	  <% if @study.errors.any? %>
	    <div class="error_messages">
	      <h2><%= pluralize(@study.errors.count, "error") %> prohibited this user from being saved:</h2>
	      <ul>
	      <% @study.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <%= yield f %>
	
	<% @doc = Nokogiri::XML(@studyMetaXML) %>
 	
 	 <% tags = @doc.xpath("/metadatas/step1/*").each do |node|%>
 	 	
 	 	<% if node.name == 'association' %>
 
			<% association = node.xpath("*").each do |assoc|%>
				
		  		<div id="<%=assoc.name%>">
		  		
		  			<h4><%=assoc.name%></h4>
		  		
		  			<a class="add-<%=assoc.name%>" data-toggle="modal">add</a
		  		
		  			<%assoc.xpath('*').each do |node|%>
		
						<%=link_to_add_association(' ', f, node.name.to_sym, :partial=>'/studies/'+node.attribute('class_name').to_s().downcase+'_fields', :data => {"association-insertion-method" => "append" })%>
		  			<%end%>
		  		
		  		</div>
		  		
		  	<%end%>
 	 	
 	 	<%elsif node.attribute('type').to_s == 'text'%>
			
 			<div class="control-group">  		
			  <%= f.label  node.name, node.name %>
			  
			   <div class="input-append input-prepend">					
					<% if node.attribute('multiple').to_s == 'true'%>
						<%= f.text_field node.name.to_sym,:multiple=>true , :value=>'', :class=>'span3',:placeHolder=>"Type something…"%>
						
						<button data-action="add" class="add btn btn-medium" ><i class="icon-plus"></i></button>
					<% else %>
						<%= f.text_field node.name.to_sym,:value=>'', :class=>'span3',:placeHolder=>"Type something…"%>
					<%end%>
				</div>
			</div>
				
 	
 	 	<%elsif node.attribute('type').to_s == 'checkbox'%>
 	 		<%=f.input node.name, :collection => eval(node.attribute('collection').to_s), :as => :check_boxes%>
 	 	
 	 	
 	 	
 	 	<%elsif node.attribute('type').to_s == 'radio_buttons'%>
 	 		<%=f.input node.name, :collection => eval(node.attribute('collection').to_s), :as => :radio_buttons%>
 	 	
 	 	<%end%>
 	 	
 	 	
 	 	
 	 <%end%>
 	

  </fieldset>
  	

    
    <button type="submit" class="add btn btn-primary" >Next <i class="icon-white icon-arrow-right"></i></button>
    

<% end %>


	
	<div class="choose"></div>
  