%h1 Etape 2
= simple_form_for(@study, url: wizard_path, :html => { :class => 'form-vertical' }) do |f|
  - if @study.errors.any?
    .error_messages
      %h2
        = pluralize(@study.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @study.errors.full_messages.each do |msg|
          %li= msg
  = yield f
  - @doc = Nokogiri::XML.parse(@studyMetaXML)
  - tags = @doc.xpath("/metadatas/step2/*").each do |node|
    - if node.name == 'association'
      - association = node.xpath("*").each do |assoc|
        %div{:id => assoc.name}
          %h4= assoc.name
          %a{:class => "add-#{assoc.name}", "data-toggle" => "modal"}
            add</a
            - assoc.xpath('*').each do |node|
              = link_to_add_association(' ', f, node.name.to_sym, :partial=>'/studies/'+node.attribute('class_name').to_s().downcase+'_fields', :data => {"association-insertion-method" => "append" })
    - elsif node.attribute('type').to_s == 'text'
      .control-group
        = f.label  node.name, node.name
        .input-append.input-prepend
          - if node.attribute('multiple').to_s == 'true'
            = f.text_field node.name.to_sym,:multiple=>true , :value=>'', :class=>'span3',:placeHolder=>"Type something…"
            %button.add.btn.btn-medium{"data-action" => "add"}
              %i.icon-plus
          - else
            = f.text_field node.name.to_sym,:value=>'', :class=>'span3',:placeHolder=>"Type something…"
    - elsif node.attribute('type').to_s == 'checkbox'
      = f.input node.name, :collection => eval(node.attribute('collection').to_s), :as => :check_boxes
    - elsif node.attribute('type').to_s == 'radio_buttons'
      = f.input node.name, :collection => eval(node.attribute('collection').to_s), :as => :radio_buttons
  %button.add.btn.btn-primary{:type => "submit"}
    Next
    %i.icon-white.icon-arrow-right
