= simple_form_for(@study, url: wizard_path, :html => { :class => 'form-vertical' }) do |f|
  - if @study.errors.any?
    .error_messages
      %h2
        = pluralize(@study.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @study.errors.full_messages.each do |msg|
          %li= msg
  = yield f
  
  %fieldset
    = render :partial=>'/studies/display_fields', :locals => {:in_association=>false, :f=>f, :xml => Study.xml_form.to_xml, :xpath=>"/study/speaker/*"}
  #dialog-confirm{:style => ""}
    %span.ui-icon.ui-icon-alert{:style => "float:left; margin:0 7px 20px 0;"}
    %p
  - if params[:action] == 'show'

    %a.add.btn.btn-primary{:type => "submit", :href=>next_wizard_path}
      = t('next')
    
  - else
    
    %button.add.btn.btn-primary{:type => "submit"}
      = t('next')
      %i.icon-white.icon-arrow-right
