!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    / Mobile viewport optimization h5bp.com/ad
    %meta{:content => "True", :name => "HandheldFriendly"}/
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
    / Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading
    /[if IEMobile]
      <meta http-equiv="cleartype" content="on">
    %title= h(@page_title || application_name)
    %link{:href => opensearch_catalog_path(:format => 'xml', :only_path => false), :rel => "search", :title => application_name, :type => "application/opensearchdescription+xml"}/
    = favicon_link_tag asset_path('favicon.ico')
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = content_for(:head)
    = javascript_tag do
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
      I18n.fallbacks = true;
    = javascript_include_tag 'jquery.validate.localization/messages_'+I18n.locale.to_s if locale.to_s != 'en'
    = javascript_include_tag 'bootstrap-datepicker/locales/bootstrap-datepicker.'+I18n.locale.to_s if locale.to_s != 'en'
    :javascript
      jQuery.noConflict(); if (typeof(window.$) === 'undefined') { window.$ = jQuery; }
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body{:class => render_body_class}
    = render :partial => 'shared/menu'
    = render :partial => 'shared/header_navbar'
    #ajax-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal menu", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
    / /container
    #main-container.container
      .row
        .col-md-12
          #main-flashes
            = render :partial=>'/flash_msg'
      .row
        = lang_switcher
        = yield
    = render :partial => 'shared/footer'
